h1,
h2,
h3,
p,
ul,
li,
a,
body {
  margin: 0px;
  color: #ffffff;
}

body {
  background-color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

/* Header */
.header {
  position: relative;
  padding: 20px 0px;
  margin-bottom: 30px;
}

.title {
  color: #dadce0;
  letter-spacing: 2.5px;
  justify-self: center;
}

/* Main */

/* Restart Button */
.restart-button {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background: #222222;
  justify-self: center;
  transition: background-color 0.5s;
}

.restart-button:hover {
  cursor: pointer;
  background: #454545;
}

/* PopUp */
.popup {
  z-index: 1000;
  position: absolute;
  left: 50%;
  top: 190px;
  background: #565656;
  padding: 5px 10px;
  border-radius: 3px;
  transform: translate(-50%, -50%);
}

.popup-message {
  font-size: 1.15rem;
}

@keyframes pop-animation {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.popanim {
  animation: pop-animation 0.5s ease-out forwards;
}

.won {
  background: #6aaa64;
}

.error {
  background: #bb5781;
}

.inactive {
  opacity: 0;
}

/* Game stuff */
.block {
  border: solid 3px #565656;
  border-radius: 5px;
  background-color: #404040;
  place-content: center;
  width: 80px;
  height: 80px;
  transition: background 0.5s;
}

.letter {
  text-transform: uppercase;
  font-size: 2.8rem;
  justify-self: center;
}

.words-row {
  gap: 5px;
}

.words-bg {
  margin-top: 60px;
  place-content: center;
  gap: 10px;
}

/* Try Animations */

.contains {
  animation: reveal-contains 0.4s forwards;
}

.inPlace {
  animation: reveal-in-place 0.4s forwards;
}

.incorrect {
  animation: reveal-incorrect 0.4s forwards;
}

@keyframes reveal-in-place {
  0% {
    transform: scaleY(1);
  }
  49% {
    background: #333333;
  }
  50% {
    transform: scaleY(0);
    background: #6aaa64;
  }
  100% {
    background: #6aaa64;
    transform: scaleY(1);
  }
}

@keyframes reveal-incorrect {
  0% {
    transform: scaleY(1);
  }
  49% {
    background: #333333;
  }
  50% {
    transform: scaleY(0);
    background: #222222;
  }
  100% {
    background: #222222;
    transform: scaleY(1);
  }
}

@keyframes reveal-contains {
  0% {
    transform: scaleY(1);
  }
  49% {
    background: #333333;
  }
  50% {
    transform: scaleY(0);
    background: #ceb02c;
  }
  100% {
    background: #ceb02c;
    transform: scaleY(1);
  }
}
