h1,
h2,
h3,
p,
ul,
li,
a,
body {
  margin: 0px;
  color: #ffffff;
}

body {
  background-color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

/* Header */
.header-bg {
  padding: 20px 0px;
}

.header {
  place-self: center;
  align-items: center;
  gap: 30px;
  background: #4b4b4b;
  padding: 10px 24px;
  border-radius: 5px;
}

.title {
  color: #b3b3b3;
  letter-spacing: 3.5px;
  font-size: 3rem;
  justify-self: center;
}

/* Main */

/* Buttons */
.restart-button {
  border: none;
  background: none;
  padding: 5px 10px;
}

.restart-button:hover {
  cursor: pointer;
}

.restart-icon {
  height: 36px;
  position: relative;
  top: 1px;
}

.settings-button {
  border: none;
  background: none;
  padding: 5px 10px;
}

.settings-button:hover {
  cursor: pointer;
}

.settings-icon {
  height: 38px;
  position: relative;
  top: 4px;
}

/* PopUp */
.popup {
  z-index: 1000;
  position: absolute;
  left: 50%;
  top: 130px;
  background: #565656;
  padding: 5px 10px;
  border-radius: 3px;
  transform: translate(-50%, -50%);
}

.popup-message {
  font-size: 1.3rem;
}

@keyframes pop-animation {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.popanim {
  animation: pop-animation 0.5s ease-out forwards;
}

.won {
  background: #6aaa64;
}

.error {
  background: #bb5781;
}

.inactive {
  opacity: 0;
}

/* Settings Modal */
.settings-modal {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  transition: 1s;
  z-index: 1000;
}

.settings {
  padding: 30px 20px;
  background: #222222;
  flex-direction: column;
  border-radius: 5px;
  gap: 20px;
}

.settings label {
  font-size: 1.4rem;
}

input::-webkit-inner-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus {
  outline: none;
}

#muteCheckbox {
  accent-color: #4b4b4b;
}

#maxAttemps {
  color: #ffffff;
  font-size: 1.4rem;
  max-width: 30px;
  height: 34px;
  background: #4b4b4b;
  border-radius: 4px;
  justify-items: center;
  border: 2px solid #222222;
}

.apply-attempts {
  color: #ffffff;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 1.4rem;
  background: #4b4b4b;
  transition: background-color 0.5s;
}

.apply-attempts:hover {
  cursor: pointer;
  background: #94335b;
}

/* Game Stuff */
.block {
  border: solid 3px #565656;
  border-radius: 5px;
  background-color: #404040;
  place-content: center;
  width: 50px;
  height: 50px;
  transition: background 0.5s;
}

.letter {
  text-transform: uppercase;
  font-size: 2.2rem;
  justify-self: center;
}

.words-row {
  gap: 5px;
}

.words-bg {
  margin-top: 20px;
  margin-bottom: 35px;
  place-content: center;
  gap: 10px;
}

/* Try Animations */

.contains {
  animation: reveal-contains 0.4s forwards;
}

.inPlace {
  animation: reveal-in-place 0.4s forwards;
}

.incorrect {
  animation: reveal-incorrect 0.4s forwards;
}

@keyframes reveal-in-place {
  0% {
    transform: scaleY(1);
  }
  49% {
    background: #333333;
  }
  50% {
    transform: scaleY(0);
    background: #6aaa64;
  }
  100% {
    background: #6aaa64;
    transform: scaleY(1);
  }
}

@keyframes reveal-incorrect {
  0% {
    transform: scaleY(1);
  }
  49% {
    background: #333333;
  }
  50% {
    transform: scaleY(0);
    background: #222222;
  }
  100% {
    background: #222222;
    transform: scaleY(1);
  }
}

@keyframes reveal-contains {
  0% {
    transform: scaleY(1);
  }
  49% {
    background: #333333;
  }
  50% {
    transform: scaleY(0);
    background: #ceb02c;
  }
  100% {
    background: #ceb02c;
    transform: scaleY(1);
  }
}

/* Keyboard */

.remove_char {
  display: flex;
  place-items: center;
  padding: 10px 20px;
}

.remove_char img {
  height: 26px;
}
.keyboard-row {
  margin-bottom: 10px;
  place-content: center;
  gap: 5px;
}

.key {
  background: #565656;
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
  border: none;
  min-width: 35px;
  min-height: 45px;
}

.key:hover {
  cursor: pointer;
}
